{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<div class="row">
    <h1>Главная страница</h1>
</div>

<div class="row">
    <form method="POST" class="form-control">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="tests_search" id="tests_search" placeholder="Поиск тестов по названию и автору" aria-label="Поиск тестов по названию и автору" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Поиск</button>
        </div>
    </form>
</div>

<div class="row">
    <div class="table-responsive">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">Название</th>
                    <th scope="col">Кол-во вопросов</th>
                    <th scope="col">Автор</th>
                    <th scope="col">Дата создания</th>
                </tr>
            </thead>
            <tbody>
                {% for test in tests %}
                <tr>
                    <td scope="row">{{ test.id }}</td>
                    <td>{{ test.name }}</td>
                    <td>
                        {% for key, value in count_quests.items() %}
                            {% if test.id == key %}
                                {{ value }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for key, value in users.items() %}
                            {% if test.id == key %}
                                {{ value }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ test.create_date.strftime('%d.%m.%Y') }}</td>
                </tr>
                {% else %}
                    <p>Пока пусто!</p>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}